<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="admin_home">HOME</a>
    <a href="manage_staff">manage staff</a>
    <a href="police_register">policestation register</a>
    <a href="court_register">court register</a>
    <a href="view_police">view police</a>
    <a href="view_court">view court</a>
    <a href="view_cases">view cases</a>
    
    

    
