{% include "admin_pages/admin_header.html" %}


<form  method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>
                staff id
            </th>
            <td><select name="ft_id">
                {% for i in data['staff'] %}
                <option value="{{i['ft_id']}}">{{i['name']}}</option>
                {% endfor %}
            </select></td>
        </tr>
        
        
        <th>
            
        </th>
        <td>
            <input type="submit" name="submit" value="assign staff for collect">
        </td></tr>
    </table>
</form>

{% include "footer.html" %}

