{% include "admin_pages/admin_header.html" %}
    <h1>registration form</h1>
    <form  method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <th>court name</th>
                <td><input type="text" name="court_name"></td>
            </tr>
            <tr>
                <th>court type</th>
                <td><input type="text" name = "court_type"></td>
            </tr>
            
            <tr>
                <th>place</th>
                <td><input type="text" name = "place"></td>
            </tr>
            <tr>
                <th>district</th>
                <td><input type="text" name = "district"></td>
            </tr>
            
            <tr>
                <th>state</th>
                <td><input type="text" name = "state"></td>
            </tr>
            <tr>
                <th>email</th>
                <td><input type="email" name = "email_id"></td>
            </tr>
            <tr>
                <th>contactNo</th>
                <td><input type="tel" name = "contact_no"></td>
            </tr>

            <tr>
                <th>username</th>
                <td><input type="text" name = "username"></td>
            </tr>
            <tr>
                <th>password</th>
                <td><input type="password" name = "password"></td>
            </tr>
    
            <tr>
            <th>
                
            </th>
            <td>
                <input type="submit" name="submit">
            </td></tr>
        </table>
    </form>
{% include "footer.html" %}
    
