{% include "admin_pages/admin_header.html" %}


form  method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>name</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>position</th>
            <td><input type="text" name = "position"></td>
        </tr>
        <tr>
            <th>gender</th>
            <td><input type="radio" name = "gender" value="male">male
            <input type="radio" name = "gender" value="female">female</td>
        </tr>
        <tr>
            <th>email</th>
            <td><input type="email" name = "email_id"></td>
        </tr>
        <tr>
            <th>place</th>
            <td><input type="text" name = "place"></td>
        </tr>
        <tr>
            <th>district</th>
            <td><input type="text" name = "district"></td>
        </tr>
        <tr>
            <th>state</th>
            <td><input type="text" name = "state"></td>
        </tr>
        <tr>
            <th>contactNO</th>
            <td><input type="tel" name = "contact_no"></td>
        </tr>
        <tr>
            <th>upload photo</th>
            <td><input type="file" name = "photo"></td>
        </tr>
      

        <tr>
        <th>
            
        </th>
        <td>
            <input type="submit" name="update" value="update">
        </td></tr>
    </table>
</form>




<form  method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>name</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>position</th>
            <td><input type="text" name = "position"></td>
        </tr>
        <tr>
            <th>gender</th>
            <td><input type="radio" name = "gender" value="male">male
            <input type="radio" name = "gender" value="female">female</td>
        </tr>
        <tr>
            <th>email</th>
            <td><input type="email" name = "email_id"></td>
        </tr>
        <tr>
            <th>place</th>
            <td><input type="text" name = "place"></td>
        </tr>
        <tr>
            <th>district</th>
            <td><input type="text" name = "district"></td>
        </tr>
        <tr>
            <th>state</th>
            <td><input type="text" name = "state"></td>
        </tr>
        <tr>
            <th>contactNO</th>
            <td><input type="tel" name = "contact_no"></td>
        </tr>
        <tr>
            <th>upload photo</th>
            <td><input type="file" name = "photo"></td>
        </tr>
        
        <tr>
            <th>username</th>
            <td><input type="text" name = "username"></td>
        </tr>
        <tr>
            <th>password</th>
            <td><input type="password" name = "password"></td>
        </tr>

        <tr>
        <th>
            
        </th>
        <td>
            <input type="submit" name="submit">
        </td></tr>
    </table>
</form>



<table>
    <tr>
        <th>name</th>
        <th>position</th>
        <th>gender</th>
        <th>email</th>
        <th>place</th>
        <th>district</th>
        <th>state</th>
        <th>contactNo</th>
        <th>photo</th>
        <th>update</th>
        <th>delete</th>
    </tr> 
{% for i in data['staff']%}
    <tr>
        <td>{{i['name']}}</td>
        <td>{{i['position']}}</td>d
        <td>{{i['gender']}}</td>
        <td>{{i['email_id']}}</td>
        <td>{{i['place']}}</td>
        <td>{{i['district']}}</td>
        <td>{{i['state']}}</td>
        <td>{{i['contact_no']}}</td>
        <td><img src="{{i['photo']}}" alt=" no img" width="200" height="200"></td>
        <td><a href="">update</a></td>
        <td><a href="">delete</a></td>
    </tr>
    {%endfor%}
</table>

{% include "footer.html" %}
