{% include "admin_pages/admin_header.html" %}



<form  method="post">
    <table>
        <tr>
            <th>police station</th>
            <td><input type="text" name = "police_station"></td>
        </tr>
        <tr>
            <th>place</th>
            <td><input type="text" name = "place"></td>
        </tr>
        <tr>
            <th>contact no</th>
            <td><input type="tel" name = "contact_no"></td>
        </tr>
        <tr>
            <th>email</th>
            <td><input type="email" name = "email_id"></td>
        </tr>
        <tr>
            <th>department type</th>
            <td><input type="text" name = "dept_type"></td>
        </tr>
        <tr>
            <th>username</th>
            <td><input type="text" name = "username"></td>
        </tr>
        <tr>
            <th>password</th>
            <td><input type="password" name = "password"></td>
        </tr>
        
       
        <tr>
        <th>
            
        </th>
        <td>
            <input type="submit" name="submit" value="register">
        </td></tr>
    </table>
</form>

{% include "footer.html" %}