{% include "admin_pages/admin_header.html" %}
<table>
    <tr>
        <th>police station</th>
        <th>place</th>
        <th>contactNo</th>
        <th>email</th>
        <th>department type</th>
        
    </tr> 
{% for i in data['police']%}
    <tr>
        <td>{{i['police_station']}}</td>
        <td>{{i['place']}}</td>
        <td>{{i['contact_no']}}</td>
        <td>{{i['email_id']}}</td>
        <td>{{i['dept_type']}}</td>
    </tr>   
{%endfor%}
</table>
{% include "footer.html" %}