{% include "admin_pages/admin_header.html" %}
<table>
    <tr>
        <th>court name</th>
        <th>court type</th>
        <th>place</th>
        <th>district</th>
        <th>state</th>
        <th>email</th>
        <th>contact NO</th>
        
    </tr> 
{% for i in data['court']%}
    <tr>
        <td>{{i['court_name']}}</td>
        <td>{{i['court_type']}}</td>
        <td>{{i['place']}}</td>
        <td>{{i['district']}}</td>
        <td>{{i['state']}}</td>
        <td>{{i['email_id']}}</td>
        <td>{{i['contact_no']}}</td>
    </tr>   
{%endfor%}
</table>
{% include "footer.html" %}