{% include "admin_pages/admin_header.html" %}
<table>
    <tr>
        <th>case no:</th>
        <th>date</th>
        <th>time</th>
        <th>place</th>
        <th>type</th>
        <th>photo</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>details of event</th>
        <th>summary</th>
        <th>report officer</th>
        <th>assign staff for collect</th> 
        <th>assign staff for examination</th>
        
    </tr> 
{% for i in data['cases']%}
    <tr>
        <td>{{i['case_id']}}</td>
        <td>{{i['date']}}</td>
        <td>{{i['time']}}</td>
        <td>{{i['place']}}</td>
        <td>{{i['type']}}</td>
        <td><img src="{{i['case_photo']}}" alt=" no img" width="200" height="200"></td>
        <td>{{i['latitude']}}</td>
        <td>{{i['longitude']}}</td>
        <td>{{i['details_of_event']}}</td>
        <td>{{i['summary']}}</td>
        <td>{{i['reporter_officer']}}</td>
        <td><a href="">staff for collect</a></td>
        <td><a href="">staff for examination</a></td>
    </tr>  
    {%endfor%}
</table>
{% include "footer.html" %}