{% include "police_pages/police_header.html" %}


<form  method="post" enctype="multipart/form-data">
    <table>
        
        <tr>
            <th>date</th>
            <td><input type="date" name="date"></td>
        </tr>
        <tr>
            <th>time</th>
            <td><input type="time" name = "time"></td>
        </tr>
        <tr>
            <th>place</th>
            <td><input type="text" name = "place"></td>
        </tr>
        <tr>
            <th>case type</th>
            <td><input type="text" name = "case_type"></td>
        </tr>
        <tr>
            <th>upload photo</th>
            <td><input type="file" name = "case_photo"></td>
        </tr>
        <tr>
            <th>latitude</th>
            <td><input type="number" name = "latitude"></td>
        </tr>
        <tr>
            <th>longitude</th>
            <td><input type="number" name = "longitude"></td>
        </tr>
        <tr>
            <th>details of event</th>
            <td><textarea name="detail_of_event"  cols="15" rows="15"></textarea></td>
        </tr>
        <tr>
            <th>summary</th>
            <td><textarea name="summary" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <th>report officer</th>
            <td><input type="text" name = "report_officer"></td>
        </tr>
        

        <tr>
        <th>
            
        </th>
        <td>
            <input type="submit" name="submit" value="add case">
        </td></tr>
    </table>
</form>

{% include "footer.html" %}