{% include "police_pages/police_header.html" %}
<div class="div_print">
<table>
    <tr>
        <th>police id</th>
        <th>date</th>
        <th>time</th>
        <th>place</th>
        <th>type</th>
        <th>photo</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>detail of event</th>
        <th>summary</th>
        <th>report officer</th>
        <th>print</th> 
    </tr> 
{% for i in data['cases']%}
    <tr id="div_print">
        <td>{{i['police_id']}}</td>
        <td>{{i['date']}} <br> </td>
        <td>{{i['time']}}</td>
        <td>{{i['place']}}</td>
        <td>{{i['case_type']}}</td>
        <td><img src="{{i['case_photo']}}" alt=" no img" width="200" height="200"></td>
        <td>{{i['latitude']}}</td>
        <td>{{i['longitude']}}</td>
        <td>{{i['detail_of_event']}}</td>
        <td>{{i['summary']}}</td>
        <td>{{i['report_officer']}}</td>
        <td><button onclick="printDiv()" > print </button></td>
    </tr>  
{%endfor%}
</table>
</div>

<script> 
    function printDiv() { 
      var divContents = document.getElementById("div_print").innerHTML; 
      var a = window.open('', '', 'height=500, width=500'); 
      a.document.write(divContents); 
      a.document.close(); 
      a.print(); 
    } 
  </script>

{% include "footer.html" %}