{% include "police_pages/police_header.html" %}
<table>
    <tr>
        <th>date</th>
        <th>time</th>
        <th>place</th>
        <th>type</th>
        <th>photo</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>details of event</th>
        <th>summary</th>
        <th>report officer</th>
        <th>print</th> 
    </tr> 
{% for i in data['']%}
    <tr>
        <td>{{i['date']}}</td>
        <td>{{i['time']}}</td>d
        <td>{{i['place']}}</td>
        <td>{{i['type']}}</td>
        <td><img src="{{i['photo']}}" alt=" no img" width="200" height="200"></td>
        <td>{{i['latitude']}}</td>
        <td>{{i['longitude']}}</td>d
        <td>{{i['details_of_event']}}</td>
        <td>{{i['summary']}}</td>
        <td>{{i['reporter_officer']}}</td>
        <td><a href="">print report</a></td>
    </tr>  
    {%endfor%}
</table>
{% include "footer.html" %}