{% include "court_pages/court_header.html" %}
<form  method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>
                case
            </th>
            <td><select name="case_id" id="">
                {% for i in data['cases'] %}
                <option value="{{i['case_id']}}">{{i['case_type']}}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <th>evidence type</th>
            <td><input type="text" name="evd_type"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><textarea name="desc" id="" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <th>status</th>
            <td><input type="text" name="status"></td>
        </tr>
        
        <th>
            
        </th>
        <td>
            <input type="submit" name="submit" value=" request evidence">
        </td></tr>
    </table>
</form>

{% include "footer.html" %}