{% include "staff_pages/staff_header.html" %}

<form  method="post" enctype="multipart/form-data">
    <table>

        <tr>
            <th>
                staff 
            </th>
            <td><select name="ft_id" id="">
                <option value=""></option>
            </select></td>
        </tr>
        <tr>
            <th>date</th>
            <td><input type="date" name="date"></td>
        </tr>
        <tr>
            <th>start time</th>
            <td><input type="time" name="start_time"></td>
        </tr>   
        <tr>
            <th>end time</th>
            <td><input type="time" name="end_time"></td>
        </tr> 

        <th>
            
        </th>
        <td>
            <input type="submit" name="submit" value=" mark attendence">
        </td></tr>
    </table>
</form>


{% include "footer.html" %}