{% include "staff_pages/staff_header.html" %}

<form  method="post" enctype="multipart/form-data">
    <table>
        
        <tr>
            <th>
                case no:
            </th>
            <td><select name="case_id">
                <option value=""></option>
            </select></td>
        </tr>

        <tr>
            <th>
                staff no:
            </th>
            <td><select name="ft_id">
                <option value=""></option>
            </select></td>
        </tr>

        <tr>
            <th>left length</th>
            <td><input type="text" name="left_len"></td>
        </tr>
        <tr>
            <th>left width</th>
            <td><input type="text" name = "left_width"></td>
        </tr>
        <tr>
            <th>right length</th>
            <td><input type="text" name = "right_len"></td>
        </tr>
        <tr>
            <th>right width</th>
            <td><input type="text" name = "right_width"></td>
        </tr>
        <tr>
            <th>add information</th>
            <td><input type="file" name = "add_info"></td>
        </tr>
        <tr>
            <th>height</th>
            <td><input type="text" name = "height"></td>
        </tr>
        <tr>
            <th>gender</th>
            <td><input type="radio" name = "gender" value="male">male
            <input type="radio" name = "gender" value="female">female</td>
        </tr>
        <tr>
            <th>date & time</th>
            <td><input type="datetime-local" name = "date_time"></td>
        </tr>
        <tr>
            <th>footprint status</th>
            <td><input type="text" name = "pm_status"></td>
        </tr>
        <tr>
        <th>
            
        </th>
        <td>
            <input type="submit" name="submit" value="add">
        </td></tr>
    </table>
</form>

{% include "footer.html" %}