{% include "staff_pages/staff_header.html" %}

<form  method="post" enctype="multipart/form-data">
    <table>
        
        <tr>
            <th>
                case no:
            </th>
            <td><select name="case_id">
                <option value=""></option>
            </select></td>
        </tr>

        <tr>
            <th>
                staff no:
            </th>
            <td><select name="ft_id">
                <option value=""></option>
            </select></td>
        </tr>

        <tr>
            <th>root_diver</th>
            <td><input type="file" name="root_diver"></td>
        </tr>
        <tr>
            <th>appear</th>
            <td><input type="file" name = "appear"></td>
        </tr>
        <tr>
            <th>color</th>
            <td><input type="file" name = "color"></td>
        </tr>
        <tr>
            <th>edge</th>
            <td><input type="file" name = "edge"></td>
        </tr>
        <tr>
            <th>teeth_ident</th>
            <td><input type="file" name = "teeth_ident"></td>
        </tr>
        <tr>
            <th>temp_typ_teeth</th>
            <td><input type="file" name = "temp_typ_teeth"></td>
        </tr>
        <tr>
            <th>date & time</th>
            <td><input type="datetime-local" name = "date_time"></td>
        </tr>
        <tr>
            <th>teeth status</th>
            <td><input type="text" name = "t_status"></td>
        </tr>
        
      

        <tr>
        <th>
            
        </th>
        <td>
            <input type="submit" name="submit" value="add">
        </td></tr>
    </table>
</form>

{% include "footer.html" %}