{% include "staff_pages/staff_header.html" %}
<!-- 
<table>
    <tr>
        <th>name</th>
        <th>position</th>
        <th>gender</th>
        <th>email</th>
        <th>place</th>
        <th>district</th>
        <th>state</th>
        <th>contactNo</th>
        <th>photo</th>
       
    </tr> 
{% for i in data['staff']%}
    <tr>
        <td>{{i['name']}}</td>
        <td>{{i['position']}}</td>
        <td>{{i['gender']}}</td>
        <td>{{i['email_id']}}</td>
        <td>{{i['place']}}</td>
        <td>{{i['district']}}</td>
        <td>{{i['state']}}</td>
        <td>{{i['contact_no']}}</td>
        <td><img src="{{i['photo']}}" alt=" no img" width="200" height="200"></td>
    </tr>
{%endfor%}
</table> -->
{% if data['staff']%}
<form  method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>name</th>
            <td><input type="text" name="name" value="{{data['staff'][0]['name']}}"></td>
        </tr>
        <tr>
            <th>position</th>
            <td><input type="text" name = "position" value="{{data['staff'][0]['position']}}"></td>
        </tr>
        <tr>
            <th>gender</th>
            <td><input type="radio" name = "gender" value="male">male
            <input type="radio" name = "gender" value="female">female</td>
        </tr>
        <tr>
            <th>email</th>
            <td><input type="email" name = "email_id" value="{{data['staff'][0]['email_id']}}"></td>
        </tr>
        <tr>
            <th>place</th>
            <td><input type="text" name = "place" value="{{data['staff'][0]['place']}}"></td>
        </tr>
        <tr>
            <th>district</th>
            <td><input type="text" name = "district" value="{{data['staff'][0]['district']}}"></td>
        </tr>
        <tr>
            <th>state</th>
            <td><input type="text" name = "state" value="{{data['staff'][0]['state']}}"></td>
        </tr>
        <tr>
            <th>contactNO</th>
            <td><input type="tel" name = "contact_no"value="{{data['staff'][0]['contact_no']}}" ></td>
        </tr>
        <tr>
            <th>upload photo</th>
            <td>
                <img src="{{data['staff'][0]['photo']}}" alt="" width="200">
                <input type="file" name = "photo"></td>
        </tr>
      

        <tr>
        <th>
            
        </th>
        <td>
            <input type="submit" name="update" value="update">
        </td></tr>
    </table>
</form>
{% endif %}
{% include "footer.html" %}