{% include "staff_pages/staff_header.html" %}

<form  method="post" enctype="multipart/form-data">
    <table>
        
        <tr>
            <th>
                case no:
            </th>
            <td><select name="case_id">
                <option value=""></option>
            </select></td>
        </tr>

        <tr>
            <th>
                staff no:
            </th>
            <td><select name="ft_id">
                <option value=""></option>
            </select></td>
        </tr>

        <tr>
            <th>audio</th>
            <td><input type="text" name="audio"></td>
        </tr>
        <tr>
            <th>video</th>
            <td><input type="text" name = "video"></td>
        </tr>
        <tr>
            <th>date & time</th>
            <td><input type="datetime-local" name = "date_time"></td>
        </tr>
        <tr>
            <th>digital media status</th>
            <td><input type="text" name = "va_status"></td>
        </tr>
        <tr>
        <th>
            
        </th>
        <td>
            <input type="submit" name="submit" value="add">
        </td></tr>
    </table>
</form>

{% include "footer.html" %}