{% include "staff_header.html" %}


<!-- banner -->
	<div class="banner-silder">
		<div>
			<ul>
				<li>
					<div class="w3layouts-banner-top">

							<div class="container">
									<div class="agileits-banner-info">

<center>
	<h1 style="color: white">BONES</h1>
	<form method="post">
		<table>
			<tr>
				<th style="color: white">PRESENCE HAVERSIAN SYSTEM </th>
				<td style="color: white"><input type="radio" name="r1" value=yes> YES
				<input type="radio" name="r2" value="no" checked="">NO</td>
			</tr>

			<tr>
				<th style="color: white">HUMAN OR ANIMAL EXAMINATION</th>
				<td style="color: white"><input type="checkbox" name="c1" value="Gross Examination">GROSS EXAMINATION <br>
					<input type="checkbox" name="c2" value="Microscopic">MICROSCOPIC 	<br>
					<input type="checkbox" name="c3" value="serological examination">SEROLOGICAL EXAMINATION</td>
			</tr>


			<tr>
				<th style="color: white">STAGES OF FRACTURE HEALING</th>
				<td>
					<select name="fracture_healing" class="form-control">
						<option>SOFT TISSUE ATTACHED TO THE BONE</option>
						<option>JOINT CAPSULE AND LIGAMENT</option>
						<option>FOUL SMELL FROM BONE</option>
						<option>COMPLETE SKELETONISATION</option>
					</select>

				</td>
			</tr>
		</table>
	</form>
</center>


</div>	
							</div>
						</div>
				</li>
				
			</ul>
		</div>
      </div>

<!-- //banner -->
{% include "footer.html" %}