{% include "staff_header.html" %}

<!-- banner -->
	<div class="banner-silder">
		<div>
			<ul>
				<li>
					<div class="w3layouts-banner-top">

							<div class="container">
									<div class="agileits-banner-info">
<center>
	<form method="post">
		<table class="table" style="width: 500px">
			<tr>
				<td colspan="2" align="center"><input class="btn btn-success" type="submit" name="fing" value="DACTYLOGRAPHY "></td>
			</tr>

			<tr>
				<td colspan="2" align="center"><input type="submit" class="btn btn-warning" name="foot" value="PODOGRAPHY "></td>
			</tr>

			<tr>
				<td colspan="2" align="center"><input class="btn btn-danger" type="submit" name="hair" value="TRICHOLOGY"></td>
			</tr>

			<tr>
				<td colspan="2" align="center"><input type="submit" class="btn btn-primary" name="teeth" value="ODONTOLOGY"></td>
			</tr>

			
			
			<tr>
				<td colspan="2" align="center"><input type="submit" class="btn btn-success" name="post_mortem" value="THANATOLOGY "></td>
			</tr>
		</table>
	</form>

</center>

								</div>	
							</div>
						</div>
				</li>
				
			</ul>
		</div>
      </div>

<!-- //banner -->
{% include "footer.html" %}