
<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Forenic</title>
<!-- for-meta-tags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Health Plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-meta-tags-->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" Department="" />
<link href="/static/css/services.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/ziehharmonika.css" rel="stylesheet" type="text/css">
<link href="/static/css/JiSlider.css" rel="stylesheet"> 
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="/static/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
</head>
<body onload="animalorhuman()">
<div class="main" id="home">
<!-- banner -->
					

		<div class="header-bottom">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="logo">
						<h1><a class="navbar-brand" href="index.html"><span>F</span>orensic <!-- <i class="fa fa-plus" aria-hidden="true"></i> <p>Quality Care 4U</p> --></a></h1>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--sebastian">
					<ul id="m_nav_list" class="m_nav menu__list">


						<li class="m_nav_item menu__item menu__item--current" id="m_nav_item_1"> <a href="stf_home" class="menu__link"> Home </a></li>

						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="staff_profile_updation" class="menu__link">UPDATE PROFILE </a> </li>

						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="stf_home?action=add" onclick="return confirm('Are you sure you want to Update?');" class="menu__link">Mark Attendance </a> </li>

						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="staff_view_case" class="menu__link">CASES </a> </li>

						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="stff_view_allocated_cases" class="menu__link">Allocated Cases </a> </li>			
					
						<li class="m_nav_item menu__item" id="moble_nav_item_6"> <a href="/login" class="menu__link"> LOGOUT </a> </li>
					</ul>
				</nav>

				</div>
				<!-- /.navbar-collapse -->
			</nav>
	 </div>
</div>		


<!-- banner -->
	<div class="banner-silder">
		<div>
			<ul>
				<li>
					<div class="w3layouts-banner-top">

							<div class="container">
									<div class="agileits-banner-info">

<center>
	<h1 style="color: white">TRICHOLOGY</h1>
	<form method="post">
		<table class="table" style="width: 600px">
			<tr>
				<th style="color:white">PRESENCE OF CUTILES / MEDULA /CORTEX </th>
				<td><input onchange="findHairOrFiber()" type="checkbox" name="c1" id="c1" value="cuti">CUTILES
					<input onchange="findHairOrFiber()" type="checkbox" name="c1" id="c2" value="med">MEDULLA 
					<input onchange="findHairOrFiber()" type="checkbox" name="c1" id="c3" value="cor">CORTEX     
				</td>
			</tr>

			<tr>
				<th style="color:white">DAIMETER OF MEDULLA </th>
				<td><input onchange="checkAnimalOrHuman()" type="text" class="form-control" name="dia_medu" id="m1"></td>
			</tr>

			<tr>
				<th style="color:white">DIAMETER OF THE HAIR</th>
				<td><input onchange="checkAnimalOrHuman()" type="text" class="form-control" name="dia_hair" id="h1"></td>
			</tr>

			<tr>
				<th style="color:white">WHICH PART OF THE BODY</th>
				<td>
					<select name="which_part" class="form-control">
						<option>SELECT</option>
						<option>HAIR ON SCALP</option>
						<option>HAIR ON CHEST ,AXILLA AND PUBIC REGION</option>
						<option>HAIR ON EYE BROWS, EYELASHES AND NOSTRILS</option>	
					</select>
				</td>
			</tr>

			<tr>
				<th style="color:white">PRESENCE OF BARR BODIES</th>
				<td><input onchange="presenceOfBarrBodies()" type="radio" name="r1" value="yes"  id="bb1">YES
					<input onchange="presenceOfBarrBodies()" type="radio" name="r1" values="no" id="bb2">NO
				</td>
			</tr>

			<tr>
				<td colspan="2" align="center"><input type="submit" class="btn btn-success" name="hair_sub" value="SUBMIT"></td>
			</tr>
		</table>
		<table id="tab">
			<tr>
				<th style="color: white;font-size: 19px">DETECTED THE PRECENSE OF </th>
				<td><input type="text" class="form-control" value="fiber" style="color: red" id="result" name="medcorcuti" readonly=""></td>
			</tr>
			<tr>
				<th style="color: white;font-size: 19px">SAMPLE HAIR OF </th>
				<td><input type="text" class="form-control" style="color: red" id="animalor" name="animalorman" readonly=""></td>
			</tr>

			<tr>
				<th style="color: white;font-size: 19px">EXCEPTED GENDER</th>
				<td><input type="text" style="color:red" class="form-control" id="maleorfemale" name="gnd" readonly=""></td>
			</tr>
		</table>
		<script type="text/javascript">
			
			function findHairOrFiber() {
				let el1 = document.getElementById('c1')
				let el2 = document.getElementById('c2')
				let el3 = document.getElementById('c3')
				let widthL = document.getElementById('result')
document.getElementById('tab').style.opacity=1;

				if (el1.checked == true || el2.checked == true || el3.checked == true){
					// alert("test")
					 document.getElementById('result').value="Hair"
				}else{
					 document.getElementById('result').value="fiber"
				}



			}

			function checkAnimalOrHuman() {
					let med1 = document.getElementById('m1').value
					let hair1 = document.getElementById('h1').value
					document.getElementById('tab').style.opacity=1;
					
					let medullary_index = med1/hair1
					console.log(medullary_index)

					if(medullary_index < 0.3){
						document.getElementById('animalor').value = 'human hair'
					}else if(medullary_index > 0.3){
						document.getElementById('animalor').value = 'animal hair'
					
					}
				
					
				}

				


				
				function presenceOfBarrBodies(){

					let barr1 = document.getElementById('bb1')
					let barr2 = document.getElementById('bb2')
					document.getElementById('tab').style.opacity=1;
				
					if( barr1.checked == true){
						
						document.getElementById('maleorfemale').value="FEMALE"
					}
					else{

						document.getElementById('maleorfemale').value="MALE"
					}
				}

				function animalorhuman() {
					// body...

document.getElementById('tab').style.opacity=0;
				}

		</script>
	</form>
</center>
</div>	
							</div>
						</div>
				</li>
				
			</ul>
		</div>
      </div>

<!-- //banner -->
{% include "footer.html" %}