
<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Forenic</title>
<!-- for-meta-tags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Health Plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-meta-tags-->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" Department="" />
<link href="/static/css/services.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/ziehharmonika.css" rel="stylesheet" type="text/css">
<link href="/static/css/JiSlider.css" rel="stylesheet"> 
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="/static/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
</head>
<body onload="checkTeeth()">
<div class="main" id="home">
<!-- banner -->
					

		<div class="header-bottom">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="logo">
						<h1><a class="navbar-brand" href="index.html"><span>F</span>orensic <!-- <i class="fa fa-plus" aria-hidden="true"></i> <p>Quality Care 4U</p> --></a></h1>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--sebastian">
					<ul id="m_nav_list" class="m_nav menu__list">


						<li class="m_nav_item menu__item menu__item--current" id="m_nav_item_1"> <a href="stf_home" class="menu__link"> Home </a></li>

						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="staff_profile_updation" class="menu__link">UPDATE PROFILE </a> </li>

						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="stf_home?action=add" onclick="return confirm('Are you sure you want to Update?');" class="menu__link">Mark Attendance </a> </li>

						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="staff_view_case" class="menu__link">CASES </a> </li>

						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="stff_view_allocated_cases" class="menu__link">Allocated Cases </a> </li>			
					
						<li class="m_nav_item menu__item" id="moble_nav_item_6"> <a href="/login" class="menu__link"> LOGOUT </a> </li>
					</ul>
				</nav>

				</div>
				<!-- /.navbar-collapse -->
			</nav>
	 </div>
</div>		


<!-- banner -->
	<div class="banner-silder">
		<div>
			<ul>
				<li>
					<div class="w3layouts-banner-top">

							<div class="container">
									<div class="agileits-banner-info">
<center>
	<h1 style="color: white">ODONTOLOGY</h1>
	<form method="post">
		<table class="table" style="width: 600px">
			<tr>
				<th style="color:white">IS ROOT DIVERGENT </th>
				<td><input onclick="checkTeethPermanTemp()" type="radio" name="r1" value="yes" id="rd1">YES
					<input onclick="checkTeethPermanTemp()" type="radio" name="r1" value="no" id="rd2">No
				</td>
			</tr>

			<tr>
				<th style="color:white">APPERANCE </th>
				<td><input type="radio" name="r2" value="SMALL LIGHT & NARROW" >SMALL LIGHT & NARROW <br>
				<input type="radio" name="r2" value="LARGE, HEAVIER AND BROADER">LARGE, HEAVIER AND BROADER
				</td>
			</tr>

			<tr>
				<th style="color:white">COLOR</th>
				<td>
					<input type="radio" name="r3" value="MILKY WHITE">MILKY WHITE <br>
					<input type="radio" name="r3" value="IVORY WHITE"> IVORY WHITE
				</td>
			</tr>

			<tr>
				<th style="color:white">EDGE</th>
				<td>
					<input type="radio" name="r4" value="SMOOTH CUTTING ">SMOOTH CUTTING 
					<input type="radio" name="r4" value="IRREGULARITIES CUTTING">IRREGULARITIES CUTTING
				</td>
			</tr>


			<tr id="tempT">
				<th style="color:white">TEMPORARY TYPE OF TEETH</th>
				<td>
					<select name="temp_type_teeth" class="form-control">
					<option>MEDIAL INCISORS</option>
					<option>LATERAL MOLARS</option>
					<option>CANINES</option>
					<option>SECOND MOLARS</option>
					</select>
				</td>
			</tr>

			<tr id="PermT">
				<th style="color:white">PERMANENT TYPE OF TEETH</th>
				<td>
					<select name="per_type_teeth" class="form-control">
						<option>FIRST MOLAR</option>
						<option>MEDIAL INCISORS</option>
						<option>LATERAL INCISORS</option>
						<option>FIRST PREMOLAAR</option>
						<option>SECOND PREMOLAAR</option>
						<option>CANINES</option>
						<option>SECOND MOLAR</option>
						<option>THIRD MOLAR</option>
					</select>
				</td>
			</tr>


			
			<td colspan="2" align="center"><input type="submit" class="btn btn-success" name="teeth_sub" value="SUBMIT"></td>
		</table>
		<table id="tab1">
			<tr>
				<th style="color: white">TEETH IDENTIFICATION</th>
				<th><input type="text" name="tempOrPer" id="temOrPer" style="color:red" readonly=""></th>
			</tr>

			
		</table>
		
	</form>
	<script type="text/javascript">
		
		function checkTeethPermanTemp() {

			let rd_yes = document.getElementById('rd1')
			let rd_no = document.getElementById('rd2')
							document.getElementById('tab1').style.opacity=1;

			 if (rd_yes.checked == true){
			 	document.getElementById('temOrPer').value="TEMPORARY"
			 }
			 else if(rd_no.checked == true){
			 	document.getElementById('temOrPer').value="PERMANET"
			 }

			 	if(document.getElementById('temOrPer').value == "PERMANET"){
			 		document.getElementById('tempT').style.opacity=0;
			 		document.getElementById('PermT').style.opacity=1;
			 	}else if(document.getElementById('temOrPer').value == "TEMPORARY"){
					document.getElementById('tempT').style.opacity=1;
			 		document.getElementById('PermT').style.opacity=0;

			 	}

			 

			
			
		}


		function checkTeeth(){
			document.getElementById('tab1').style.opacity=0;
			document.getElementById('tempT').style.opacity=0;
			document.getElementById('PermT').style.opacity=0;

		}
	</script>
</center>
</div>	
							</div>
						</div>
				</li>
				
			</ul>
		</div>
      </div>

<!-- //banner -->

{% include "footer.html" %}