<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Forenic</title>
<!-- for-meta-tags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Health Plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-meta-tags-->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" Department="" />
<link href="/static/css/services.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/ziehharmonika.css" rel="stylesheet" type="text/css">
<link href="/static/css/JiSlider.css" rel="stylesheet"> 
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="/static/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">
</head>
<body onload="hideData()">
<div class="main" id="home">
<!-- banner -->
					

		<div class="header-bottom">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="logo">
						<h1><a class="navbar-brand" href="index.html"><span>F</span>orensic <!-- <i class="fa fa-plus" aria-hidden="true"></i> <p>Quality Care 4U</p> --></a></h1>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--sebastian">
					<ul id="m_nav_list" class="m_nav menu__list">


						<li class="m_nav_item menu__item menu__item--current" id="m_nav_item_1"> <a href="stf_home" class="menu__link"> Home </a></li>

						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="staff_profile_updation" class="menu__link">UPDATE PROFILE </a> </li>

						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="stf_home?action=add" onclick="return confirm('Are you sure you want to Update?');" class="menu__link">Mark Attendance </a> </li>

						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="staff_view_case" class="menu__link">CASES </a> </li>

						<li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="stff_view_allocated_cases" class="menu__link">Allocated Cases </a> </li>			
					
						<li class="m_nav_item menu__item" id="moble_nav_item_6"> <a href="/login" class="menu__link"> LOGOUT </a> </li>
					</ul>
				</nav>

				</div>
				<!-- /.navbar-collapse -->
			</nav>
	 </div>
</div>		


<!-- banner -->
	<div class="banner-silder">
		<div>
			<ul>
				<li>
					<div class="w3layouts-banner-top">

							<div class="container">
									<div class="agileits-banner-info">
<center>	
<h1 style="color: white">THANATOLOGY </h1>
<form method="post">
<table class="table" style="width: 600px">
	<tr>
		<th style="color:white">BODY TEMPERATURE</th>
		<td><input  onchange="TimeSinceDeathInDays()" class="form-control" type="text" name="temper" id="bdytemp"></td>
	</tr>




	<tr>
		<th style="color:white">CHANGES IN THE EYES</th>
		<td><input type="checkbox" name="c1" value="loss of corneal and pupillary reflexes">LOSS OF CORNEAL AND PUPILLARY REFLEXES 	<br>
			<input  type="checkbox" name="c2" value="opacity of the cornea">OPACITY OF THE CORNEA     	<br>
			<input type="checkbox" name="c3" value="Tache noire de la sclerotique">TACHE NOIRE DE LA SCLEROTIQUE 	<br>
			<input type="checkbox" name="c4" value="loss of intraocular tension">LOSS OF INTRAOCULAR TENSION <br>
			<input type="checkbox" name="c5" value="kevorkian sign">KEVORKIAN SIGN <br>
		</td>
	</tr>


	<tr>
		<th style="color:white">LIVOR MORTIS</th>
		<td>
			<select name="staining" class="form-control">
				<option>INTIAL STAGE</option>
				<option>LATER STAGE</option>
				<option>FINAL STAGE</option>
			</select>
		</td>			
	</tr>

	<tr>
		<th style="color:white">DEGRADITION</th>
		<td>
			<input onchange="degradationTime()" type="radio" id="cb1" name="rb" value="Epidermis get denuded ">EPIDERMIS GET DENUDED <br>
			<input onchange="degradationTime()" type="radio" id="cb2" name="rb" value="hair and nails become loose and may be taken out easily">HAIR AND NAILS BECOME LOOSE AND MAY BE TAKEN OUT EASILY <br>
			<input onchange="degradationTime()" type="radio" id="cb3"  name="rb" value="teeth become loose">TEETH BECOME LOOSE <br>
			<input onchange="degradationTime()" type="radio" id="cb4" name="rb" value="liquefaction">LIQUEFACTION 	<br>
			<input onchange="degradationTime()" type="radio" id="cb5" name="rb" value="NOTA"> NOTA	<br>
		</td>
	</tr>


	<tr>
		<td colspan="2" align="center"><input class="btn btn-success" type="submit" name="post_changes" value="SUBMIT"></td>
	</tr>


</table>


<table id="post" >
	<tr>
		<th style="color:white">TIME SINCE DEATH IN HOURS</th>
		<td><input type="text" class="form-control" id="timSncDth" style="color: red" name="death_hrs" readonly=""></td>
	</tr>

	

	<tr>
		<th style="color:white">DEGRADITION TIME </th>
		<td><input type="text" class="form-control" id="degTime" style="color:red" name="dgTime" readonly=""></td>
	</tr>

	
</table>

</form>
<script type="text/javascript">

	function hideData(){
			document.getElementById('post').style.opacity=0
			// alert("hello")
		}
	
	function TimeSinceDeathInDays() {

		let tem = document.getElementById('bdytemp').value

		document.getElementById('post').style.opacity=1;


		if(tem >37){
			document.getElementById('timSncDth').value = 'PERSON IS ALIVE'
		}

		else if(tem <=37 && tem>30)
		{
			document.getElementById('timSncDth').value = '1HR to HOURS SINCE DEATH HAPPEN'

		}

		else if(tem <=29 && tem>= 25)
		{
			document.getElementById('timSncDth').value = '7HR to 11 HOURS SINCE DEATH HAPPEN'
		}

		else if( tem<=24 && tem>=19)
		{
			document.getElementById('timSncDth').value = '12HR -16 HOURS SINCE DEATH HAPPEN'
		}

		else if( tem<=18 && tem>=10)
		{
			document.getElementById('timSncDth').value = '17HR to 25 HOURS SINCE DEATH HAPPEN'
		}
		else if(tem<9 && tem>=0)
		{
			document.getElementById('timSncDth').value = '26HR -36 HOURS SINCE DEATH HAPPEN'
		}	
		else
		{
			document.getElementById('timSncDth').value = 'MORE THAN 36 HOURS SINCE DEATH HAPPEN'
		


		}
		console.log(document.getElementById('timSncDth').value)

	}


		function degradationTime()
		{
			let el1 = document.getElementById('cb1')
			let el2 = document.getElementById('cb2')
			let el3 = document.getElementById('cb3')
			let el4 = document.getElementById('cb4')
			let el5 = document.getElementById('cb5')
			document.getElementById('post').style.opacity=1


			if(el1.checked == true)
			{
				document.getElementById('degTime').value='24-48 HOURS SINCE DEATH HAPPEN'
			}

			else if(el2.checked == true )
			{
				document.getElementById('degTime').value='48-72 HOURS SINCE DEATH HAPPEN'
			}

			else if(el3.checked==true)
			{
				document.getElementById('degTime').value='3-5 DAYS SINCE DEATH HAPPEN'
			}
			else if(el4.checked== true)
			{
				document.getElementById('degTime').value='5-10 DAYS SINCE DEATH HAPPEN'
			}
			else if(el5.center==true)
			{
				document.getElementById('degTime').value='NOT APPLICABLE'
			}

		}

		

		


	

</script>


</center>

</div>	
							</div>
						</div>
				</li>
				
			</ul>
		</div>
      </div>

<!-- //banner -->
{% include "footer.html" %}