{% include "staff_header.html" %}


<!-- banner -->
	<div class="banner-silder">
		<div>
			<ul>
				<li>
					<div class="w3layouts-banner-top">

							<div class="container">
									<div class="agileits-banner-info">

<center>
	<form method="post">
		<table class="table" style="width: 400px">
			<tr>
				<td><input type="submit" name="evi" class="btn btn-success" value="EVIDENCE"></td>
			</tr>

			<tr>
				<td><input type="submit" name="digievi" class="btn btn-primary" value="DIGITAL EVIDENCES"></td>
			</tr>
		</table>
	</form>
</center>
	</div>	
							</div>
						</div>
				</li>
				
			</ul>
		</div>
      </div>

<!-- //banner -->

{% include "footer.html" %}